@charset "UTF-8";

body{
    background-color: darksalmon;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px ;
}

h1{
    color: black;
    background-color: darkgreen; 
}
h2{
    background-color: darkviolet;
}
p{
    text-align:justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}